# dependencies
/node_modules

# next.js
/.next/
/out/

# build & misc
/build
*.tsbuildinfo
next-env.d.ts

# next-intl generated declaration
messages/en.d.json.ts

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*.local
